*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    font-size: 17px;
    font-family: system-ui,sans-serif;
}
a,a:visited,a:active{
    text-decoration: none;
    color: #000;
}
ul,li{
    list-style: none;
}
img{
    width: 100%;
    height: auto;
}
body{
    overflow-x: hidden;
    min-height: 100vh;
    background-image: url('img/5.jpeg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    
}



